{
	email {$CADDY_ACME_EMAIL}
}

{$CADDY_APP_DOMAIN} {
	encode zstd gzip

	@app_api path /api/*
	handle @app_api {
		uri strip_prefix /api
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}

{$CADDY_API_DOMAIN} {
	encode zstd gzip
	reverse_proxy backend:8000
}
